div.tag 
{
    color: white;
    background-color: rgb(35, 180, 233);
    padding: 3px;
    margin: 1px;
    float: left;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

div.tag:focus
{
    background-color: rgb(16, 117, 216) !important;
    outline: none;
}

input.smallInput 
{
    width: 25px !important;
}

div.divSobana {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    visibility: hidden;
}