<?xml version="1.0"?>
<module productName="OpenWaves EPiServer Components">

  <dojoModules>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <add name="ow-epi-flatTagsProperty" path="Scripts" />
  </dojoModules>

  <!--<clientModule initializer="ow-epi-imageProperty.ModuleInitializer"></clientModule>-->
</module>